/*
 * This file contains styling for the main List view.
 */

.bold {
    font-weight: 500;
} 
.player {
    font-weight: bold;
 }
 .productname {
    color: rgb(12, 9, 15);
    font-weight: bold;
 }
 .x-grid-header-ct { border: 1px solid #000; }